.calls {
  display: flex;
  flex-direction: column;
  flex-basis: 458px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: _color(base-bg);
  order: 2;
  z-index: 0;
  border-left: 1px solid rgba(216, 216, 216, 0.6);

  .header {
    margin: 0 2.25rem 1rem;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1;
    color: _color(base-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left {
    display: flex;
    align-items: left;
  }

  .sound-control {
    display: flex;
    z-index: 100000;
  }

  .control {
    position: relative;
    margin: 0 0 0 2rem;
    width: 2.5rem;
    height: 1.5rem;
  }

  .control-wrapper {
    position: absolute;
    top: -1rem;
    width: 2.5rem;
    height: auto;
    background-color: white;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.75rem;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0.125rem 1.875rem rgba(0, 0, 0, 0.15);

      .control-slider {
        height: 7rem;
      }

      .control-icon {
        color: _color(theme-blue);
      }
    }

    .icon-wrapper{
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .calls-list {
    width: 100%;
    flex-grow: 9999;
    flex-basis: 0;
    overflow-y: auto;
  }

  .control-icon {
    transition: color _duration(default) _misc(animation);
  }

  .control-slider {
    width: 2rem;
    height: 0;
    overflow: hidden;
    transition: height _duration(default) / 2 _misc(animation);
  }
  
  .rh-container {
   display: flex;
   flex-flow: column wrap;
   //width: 100%;
   //border: 1px green solid;
  }
  
  .video-container {
    position:relative;
    //margin-right: 10px;
    //max-height: 40vh;
    height: auto;
    width: auto;
    max-width: 99.5%;
    //height: 30vh !important;
    //border: 1px green solid;
    //display: flex;
    order: 0;
    //margin: auto;
  }

  .video-controls{
    display: flex;
    flex-flow: column wrap;
    position:relative;
    height: auto;
    width: auto;
  }
  
  .calls-container {
   width: 99.5%;
   position: relative;
   order: 1;
   /* top: -1vh; */
   z-index: 99999;
   //margin: auto;
   //max-height: 40vh;
  }
  
#remoteVideo {
  width: 100%    !important;
  height: auto   !important;
  //position: absolute;
  //max-height: 40vh;
  //border: 1px grey solid;
  z-index: 99997;
}

#localVideo {
  width: 33%    !important;
  height: auto   !important;
  position: absolute;
  /* top: 40vh; */
  top: 56%;
  z-index: 99998;
  //max-height: 10vh;
  //border: 1px red solid;
}

  .call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 5.25rem;
    padding: .5rem 1.5rem .5rem 0;
    border-bottom: 1px solid _color(border);
    color: _color(base);

    &.active {
      background-color: _color(theme-blue);
      color: _color(base-bg);

      .number {
        color: _color(contact-inverted);
      }

      .call-action-icon {
        color: _color(theme-blue);
        background-color: _color(base-bg);
      }


      .actions-text,
      .call-icon-text {
        color: _color(base-bg);
      }

      .outgoing {
        color: _color(base-bg);
      }
    }
  }


  .call-type {
    align-self: flex-start;
    margin: .75rem 0.5rem;
    color: transparent;
    min-width: 1rem;

    &.incoming {

      .inline-icon {
        color: _color(theme-green);
      }
    }
  }

  .info {
    flex-grow: 9999;

    &.first {
      display: flex;
      flex-direction: column;
      flex-grow: unset;
    }

    &.second {
      .actions-text {
        padding: 0 15px;
        background: transparent;
        border: none;
        width: calc(100% - 30px);
        outline-style: none;
      }

      .right-text {
        text-align: right;
      }
  
      .left-text {
        text-align: left;
      }
    }
  }

  .name {
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  .number {
    font-size: 1rem;
    color: _color(call-light);

    &.active {
      color: _color(theme-green);
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

  .action-icons {
    display: flex;
  }

  .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1rem;
    color: _color(base-bg);
    background-color: _color(theme-base-bg);
    cursor: pointer;

    &:first-child {
      margin: 0;
    }
  }

  .call-action-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    color: _color(base-bg);
    background-color: _color(theme-base-bg);

    &.green {
      background-color: _color(theme-green);
    }

    &.red {
      background-color: _color(theme-red);
    }
  }

  .icon-wrapper {
    width: 1rem;
    height: 1rem;

    &.green {
      color: _color(theme-green);
    }

    &.red {
      color: _color(theme-red);
    }

    &.bg {
      color: _color(base-light);
    }
  }


  .actions-text,
  .call-icon-text {
    display: flex;
    align-self: center;
    font-size: 0.75rem;
    color: _color(call-light);
  }
}

@media (max-width: 1440px) {

  .calls {
    flex-grow: 9999;

    .header {
      margin: 1rem;
    }

    .call {
      padding: .5rem 1rem .5rem 0;
    }

    .sound-control {
      margin-right: 1rem;
    }
  }
}
